
<!DOCTYPE html>
<html>
<head>
<title>添加新商品</title>
<!-- bootstrap框架 -->
<%-include('bt.ejs')%>
</head>
<body>
		<div class="container">
		<!-- 导航栏 -->
			<%-include('daohanglan.ejs')%>	
			<!-- 内容 -->
			<div class="row" style="margin-top: 10px">
			<!-- 左边栏 -->
				<%-include('userlf.ejs')%>

				<div class="col-lg-9">


					<div class="card">
						<div class="card-header">添加新商品</div>
						<div class="card-body">

							<p style="color: red"><%= info %></p>

							<form method="post" action="/AddGoods"
								enctype="multipart/form-data">
	
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-3 col-form-label">商品名称：</label>
									<div class="col-sm-6">
										<input type="text" name="goodsname" class="form-control"
											id="goodsname" placeholder="商品名称"
											> 
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-3 col-form-label">商品定价：</label>
									<div class="col-sm-6">
										<input type="text" name="price" class="form-control"
											id="price" placeholder="商品定价"
											> 
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-3 col-form-label">商品数量：</label>
									<div class="col-sm-6">
										<input type="text" name="number" class="form-control"
											id="number" placeholder="商品数量"
											> 
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-3 col-form-label">商品状态：</label>
									<div class="col-sm-1">
										<div class="form-check form-check-inline">

											<input class="form-check-input" type="radio" name="status"
												value="上架" id="status1" checked> <label
												class="form-check-label" for="sex1">上架</label>

										</div>
									</div>
									<div class="col-sm-1">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="status"
												id="status2" value="不上架"> <label class="form-check-label"
												for="sex2">不上架</label>
										</div>
									</div>
								</div>			
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-3 col-form-label">选择商品图片</label>
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="customFile"
											name="photo" pattern="{1}"> <label class="custom-file-label"
											for="customFile">Choose Picture</label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-10">
										<button type="submit" class="btn btn-primary">确定上架</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
			</div>

		</div>
</body>
</html>