<!-- 导航栏 -->
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand text-dark" href="/zhuyemian">淘淘购</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
	<% if(user==null){ %>
		<a class="p-2 text-dark  disabled" >个人中心</a>
	<% } %>
	<% if(user==null){ %>
		 <a class="p-2 text-dark " href="/MyInfo">个人中心</a>
	<% } %>
  	<% if(user==null){ %>
		<a class="p-2 text-dark  disabled" >我的足迹</a>
	<% } %>
	<% if(user!=null){ %>
		 <a class="p-2 text-dark " href="/MyTracks">我的足迹</a>
  	<% } %>
	<% if(user!=null){ %>
		<a
		class="p-2 text-dark dropdown-toggle" href="#" id="navbarDropdown"
		role="button" data-toggle="dropdown" aria-haspopup="true"
		aria-expanded="false"><%= user.username %> </a> 
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/AllShopping">我的购物车</a>
				<a class="dropdown-item" href="/Allbuyhistorygood">我的购买历史</a> <a
					class="dropdown-item" href="Repassword.ejs">修改密码</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/denchu">注销</a>
			</div>
	<% } %>
  </nav>
  <% if(user==null){ %>
  <a class="btn btn-outline-primary" href="login.ejs">Sign up</a>
  <% } %>
</div>