<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
	<div class="col-lg-3">
		<div class="list-group">	
			<a href="/zhuyemian" class="list-group-item list-group-item-action">淘淘购首页</a>
			<a href="bemanager.ejs" class="list-group-item list-group-item-action">用户开店</a>
			<a href="/AllGoods" class="list-group-item list-group-item-action">小店商品管理</a>
			<a href="/AllShopping" class="list-group-item list-group-item-action">购物车</a>
			<a href="/denchu" class="list-group-item list-group-item-action">登出</a>
		</div>
	</div>